USE [master]
GO
/****** Object:  Database [cinema]    Script Date: 03.10.2017 23:45:37 ******/
CREATE DATABASE [cinema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cinema', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\cinema.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'cinema_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\cinema_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cinema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cinema]
GO
/****** Object:  Table [dbo].[Actors]    Script Date: 03.10.2017 23:45:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actors](
	[Id] [int] NOT NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Actors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FGA]    Script Date: 03.10.2017 23:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FGA](
	[Film_Id] [int] NOT NULL,
	[Genre_Id] [int] NOT NULL,
	[Actor_Id] [int] NOT NULL,
 CONSTRAINT [PK_FGA] PRIMARY KEY CLUSTERED 
(
	[Film_Id] ASC,
	[Genre_Id] ASC,
	[Actor_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Films]    Script Date: 03.10.2017 23:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Films](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK_Films] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Genre]    Script Date: 03.10.2017 23:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[FGA]  WITH CHECK ADD  CONSTRAINT [FK_FGA_Actors] FOREIGN KEY([Actor_Id])
REFERENCES [dbo].[Actors] ([Id])
GO
ALTER TABLE [dbo].[FGA] CHECK CONSTRAINT [FK_FGA_Actors]
GO
ALTER TABLE [dbo].[FGA]  WITH CHECK ADD  CONSTRAINT [FK_FGA_Films] FOREIGN KEY([Film_Id])
REFERENCES [dbo].[Films] ([Id])
GO
ALTER TABLE [dbo].[FGA] CHECK CONSTRAINT [FK_FGA_Films]
GO
ALTER TABLE [dbo].[FGA]  WITH CHECK ADD  CONSTRAINT [FK_FGA_Genre] FOREIGN KEY([Genre_Id])
REFERENCES [dbo].[Genre] ([Id])
GO
ALTER TABLE [dbo].[FGA] CHECK CONSTRAINT [FK_FGA_Genre]
GO
USE [master]
GO
